@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  font-family: 'Montserrat';
  background-color: rgb(145, 173, 158);
}

header:first-of-type{
  margin-top:100px;
  font-size: 30px;
}

:root {
  --color-primary: #8b8888;
  --color-secondary: #292828;
  --color-tertiary: #141413;
  --color-quaternary: #0b0b0b;
  --color-quinary: #000000;
}

.content {
  display: flex;
}

.text_shadows {
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  color: black;
  letter-spacing: 0.4rem;
}

#pc{
  margin-top: -90px;
  margin-right: -150px;
  height:300px;
  width:600px;
  float:right;
}

button[type="button"]{
margin-top: 10px;
margin-left: 10px;
outline: 0;
grid-gap: 8px;
align-items: center;
background: 0 0;
border: 1px solid #000;
border-radius: 4px;
cursor: pointer;
display: inline-flex;
flex-shrink: 0;
font-size: 12px;
font-weight: bold;
gap: 8px;
justify-content: center;
line-height: 1.5;
overflow: hidden;
padding: 12px 16px;
text-decoration: none;
text-overflow: ellipsis;
transition: all .14s ease-out;
white-space: nowrap
}
button[type="button"]:hover {
box-shadow: 4px 4px 0 #000;
transform: translate(-4px,-4px);
}
button[type="button"]:focus-visible{
outline-offset: 1px;
}
#deletefood{
margin-top: 10px;
margin-left: 10px;
outline: 0;
grid-gap: 8px;
align-items: center;
background: 0 0;
border: 1px solid #000;
border-radius: 4px;
cursor: pointer;
display: inline-flex;
flex-shrink: 0;
font-size: 12px;
font-weight: bold;
gap: 8px;
justify-content: center;
line-height: 1.5;
overflow: hidden;
padding: 12px 16px;
text-decoration: none;
text-overflow: ellipsis;
transition: all .14s ease-out;
white-space: nowrap
}
#deletefood:hover {
box-shadow: 4px 4px 0 #000;
transform: translate(-4px,-4px);
}
#deletefood:focus-visible{
outline-offset: 1px;
}
button[onclick="move()"]{
margin-left:2px;
margin-top:5px;
outline: 0;
grid-gap: 8px;
align-items: center;
background: 0 0;
border: 1px solid #000;
border-radius: 4px;
cursor: pointer;
display: inline-flex;
flex-shrink: 0;
font-size: 12px;
font-weight: bold;
gap: 8px;
justify-content: center;
line-height: 1.5;
overflow: hidden;
padding: 12px 16px;
text-decoration: none;
text-overflow: ellipsis;
transition: all .14s ease-out;
white-space: nowrap
}
button[onclick="move()"]:hover {
box-shadow: 4px 4px 0 #000;
transform: translate(-4px,-4px);
}
button[onclick="move()"]:focus-visible{
outline-offset: 1px;
}
h2[id="pick"]{
margin-left: 10px;
font-weight: bold;
color:black;
}


.tablink {
outline: 0;
grid-gap: 8px;
align-items: center;
background: 0 0;
background-color: #9ec9bc;
border: 1px solid #000;
border-radius: 4px;
cursor: pointer;
display: inline-flex;
flex-shrink: 0;
font-size: 16px;
gap: 8px;
justify-content: center;
line-height: 1.5;
overflow: hidden;
padding: 12px 16px;
text-decoration: none;
text-overflow: ellipsis;
transition: all .14s ease-out;
white-space: nowrap;
}

.tablink:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
}
.tablink:focus-visible{
  outline-offset: 1px;
}
/* Style the tab content */
.tabcontent {
  border: 2px solid;
  padding: 10px;
  box-shadow: 6px 4px 8px 4px;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: left;
}
#bf{
  padding: 20px;
  color:#1f1f4c;
}

#lnh{
  padding: 20px;
  color:#1f1f4c;
}
#din{
  padding: 20px;
  color:#1b1b5c;
}

#column1{
  border-radius: 25px;
  border-color: #000;
}

.column {
  border-radius: 25px;
  float: left;
  width: 45%;
  min-height: 100%;
  color:rgb(0, 0, 0);
}

div[id='test']{
display: flex;
align-items: stretch;
}

.row:after {
  content: "";
  display: table;
  display: flex;
  clear: both;
  
}

.row{
  padding-left:150px;
  margin-right:26px;
  height:100%;
}

#Settings {
  background-color: #addad8;
}

#Profile {
  background-color: #197f7b;
}

#Home {
  background-color: #6cc256;
}

/* #myProgress {
  width: 80%;
  background-color: #ddd;
  /* It should be rotated by 90 deg, but it need to be fixed for relative percentage to layout */
  /* transform: rotate(90deg); 
}

#myBar {
  height: 30px;
  width: 30px;
  background-color: #04AA6D;
}  */

.myProgress{
  width: 160px;
  height: 160px;
  position: relative;
}

.outer{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), 
              -6px -6px 10px -1px rgba(70, 163, 58, 0.7);
  margin-left: 150px;
}

#number{
  font-weight: 600px;
  color: #555; 
  padding-top: 68px;
  padding-left: 63.5px;
}

circle{
  fill:none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
  margin-left: 20px; 
}

svg{
  position:absolute; 
  margin-left: 150px;
  top: 0px; 
  left: 0px; 
}

@keyframes anim{
  100%{
    stroke-dashoffset: 0;
  }
}


#dailyGoal{
  margin-top: 20px;
  margin-left: 10px;
}

.pop_Up .pop_Up_Text {
  visibility: hidden;
  background-color: rgb(111, 202, 157);
  color: #000;
  text-align: center;
  border-radius: 2px;
  padding: 10% 10%;
  position:absolute;
  top:0%;
  left:0%;
  border-style: groove;
  border-width: 2px;
  border-color: black;
  text-decoration-style: dashed;
}

/* Hide and show Pop up */
.pop_Up .show {
  visibility: visible;
  -webkit-animation: fade_In 1s;
  animation: fade_In 1s;
  z-index: 99;

}

/* Animation, Hope webkit works*/
@-webkit-keyframes fade_In {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fade_In {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#foodType{
  margin-bottom: 10%;
  width:170px;
  height:20px;
}
#mealType{
  margin-bottom: 10%;
  width:170px;
  height:20px;
}
#calories{
  margin-bottom: 10%;
  width:170px;
  height:20px;
}

#popButton1{
  margin-top: 10px;
  margin-left: 10px;
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: bold;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap
  }
  #popButton1:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
  }
  #popButton1:focus-visible{
  outline-offset: 1px;
  }
  #popButton2{
    margin-top: 10px;
    margin-left: 10px;
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 12px;
    font-weight: bold;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap
    }
    #popButton2:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
    }
    #popButton2:focus-visible{
    outline-offset: 1px;
    }

    .dark-mode {
      background-color: black;
      color: white;
    }
    
    .light-mode {
      background-color: rgb(255, 255, 255);
      color: black;
    }

    .info{
      background-color: aqua;
      padding: 20px;
      margin-right: 23px;
    }

    .name {
      font-size: 20px;
    }