@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  font-family: 'Montserrat';
  background-color: rgb(175, 182, 127);
}

header:first-of-type{
  margin-top:100px;
  font-size: 30px;
}

.content {
  display: flex;
  justify-content: center;
  margin-left: 300px;
}

.text_shadows {
  font-family: bungee, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
  margin-right: 70px;
  text-align: center;
  margin-top: 20px;
  color: rgb(96, 71, 0);
  text-shadow: 0px 3px 0px #b2a98f,
               0px 14px 10px rgba(0,0,0,0.15),
               0px 24px 2px rgba(0,0,0,0.1),
               0px 34px 30px rgba(0,0,0,0.1);
  letter-spacing: 0.4rem;
}

#pc{
  margin-top: -50px;
  margin-right: 50px;
  height:200px;
  width:200px;
  float:right;
}

button[type="button"]{
margin-top: 10px;
margin-left: 10px;
outline: 0;
grid-gap: 8px;
align-items: center;
background: 0 0;
border: 1px solid #000;
border-radius: 4px;
cursor: pointer;
display: inline-flex;
flex-shrink: 0;
font-size: 12px;
font-weight: bold;
gap: 8px;
justify-content: center;
line-height: 1.5;
overflow: hidden;
padding: 12px 16px;
text-decoration: none;
text-overflow: ellipsis;
transition: all .14s ease-out;
white-space: nowrap
}

button[type="button"]:hover {
box-shadow: 4px 4px 0 #000;
transform: translate(-4px,-4px);
}

button[type="button"]:focus-visible{
outline-offset: 1px;
}

#deletefood{
margin-top: 10px;
margin-left: 10px;
outline: 0;
grid-gap: 8px;
align-items: center;
background: 0 0;
border: 1px solid #000;
border-radius: 4px;
cursor: pointer;
display: inline-flex;
flex-shrink: 0;
font-size: 12px;
font-weight: bold;
gap: 8px;
justify-content: center;
line-height: 1.5;
overflow: hidden;
padding: 12px 16px;
text-decoration: none;
text-overflow: ellipsis;
transition: all .14s ease-out;
white-space: nowrap
}

#deletefood:hover {
box-shadow: 4px 4px 0 #000;
transform: translate(-4px,-4px);
}

#deletefood:focus-visible{
outline-offset: 1px;
}

button[onclick="move()"]{
margin-left:2px;
margin-top:5px;
outline: 0;
grid-gap: 8px;
align-items: center;
background: 0 0;
border: 1px solid #000;
border-radius: 4px;
cursor: pointer;
display: inline-flex;
flex-shrink: 0;
font-size: 12px;
font-weight: bold;
gap: 8px;
justify-content: center;
line-height: 1.5;
overflow: hidden;
padding: 12px 16px;
text-decoration: none;
text-overflow: ellipsis;
transition: all .14s ease-out;
white-space: nowrap
}

button[onclick="move()"]:hover {
box-shadow: 4px 4px 0 #000;
transform: translate(-4px,-4px);
}

button[onclick="move()"]:focus-visible{
outline-offset: 1px;
}

h2[id="pick"]{
margin-left: 10px;
font-weight: bold;
color:black;
}

.tablink {
outline: 0;
grid-gap: 8px;
align-items: center;
background: 0 0;
background-color: #9ec9bc;
border: 1px solid #000;
border-radius: 4px;
cursor: pointer;
display: inline-flex;
flex-shrink: 0;
font-size: 16px;
gap: 8px;
justify-content: center;
line-height: 1.5;
overflow: hidden;
padding: 12px 16px;
text-decoration: none;
text-overflow: ellipsis;
transition: all .14s ease-out;
white-space: nowrap;
}

.tablink:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
}

.tablink:focus-visible{
  outline-offset: 1px;
}

/* Style the tab content */
.tabcontent {
  border: 2px solid;
  padding: 10px;
  box-shadow: 6px 4px 8px 4px;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: left;
}

#bf{
  padding: 20px;
  color:#1f1f4c;
}

#lnh{
  padding: 20px;
  color:#1f1f4c;
}

#din{
  padding: 20px;
  color:#1b1b5c;
}

#column1{
  border-radius: 25px;
  border-color: #000;
}

.column {
  border-radius: 25px;
  float: left;
  width: 45%;
  min-height: 100%;
  color:rgb(0, 0, 0);
}

div[id='test'] {
display: flex;
align-items: stretch;
}

.row:after {
  content: "";
  display: table;
  display: flex;
  clear: both;
}

.row{
  padding-left: 150px;
  margin-right: 22px;
  height: 100%;
}

#Settings {
  background-color: #addad8;
}

#Profile {
  background-color: #197f7b;
}

#Home {
  background-color: #51a270;
}

/* #myProgress {
  width: 80%;
  background-color: #ddd;
  /* It should be rotated by 90 deg, but it need to be fixed for relative percentage to layout */
  /* transform: rotate(90deg); 
}

#myBar {
  height: 30px;
  width: 30px;
  background-color: #04AA6D;
}  */

.myProgress{
  width: 160px;
  height: 160px;
  position: relative;
}

.outer{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), 
              -6px -6px 10px -1px rgba(70, 163, 58, 0.7);
  margin-left: 150px;
}

#number{
  font-weight: 600px;
  color: #555; 
  padding-top: 68px;
  padding-left: 63.5px;
}

circle{
  fill:none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
  margin-left: 20px; 
}

svg{
  position:absolute; 
  margin-left: 150px;
  top: 0px; 
  left: 0px; 
}

@keyframes anim{
  100%{
    stroke-dashoffset: 0;
  }
}

#dailyGoal{
  font-size: 20px;
  margin-top: 40px;
  margin-left: 10px;
}

.pop_Up .pop_Up_Text {
  visibility: hidden;
  background-color: rgb(111, 202, 157);
  color: #000;
  text-align: center;
  border-radius: 2px;
  padding: 10% 10%;
  position:absolute;
  top:0%;
  left:0%;
  border-style: groove;
  border-width: 2px;
  border-color: black;
  text-decoration-style: dashed;
}

/* Hide and show Pop up */
.pop_Up .show {
  visibility: visible;
  -webkit-animation: fade_In 1s;
  animation: fade_In 1s;
  z-index: 99;

}

/* Animation, Hope webkit works*/
@-webkit-keyframes fade_In {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fade_In {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#foodType{
  margin-bottom: 10%;
  width:170px;
  height:20px;
}
#mealType{
  margin-bottom: 10%;
  width:170px;
  height:20px;
}
#calories{
  margin-bottom: 10%;
  width:170px;
  height:20px;
}

#popButton1{
  margin-top: 10px;
  margin-left: 10px;
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: bold;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap
  }

  #popButton1:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
  }

  #popButton1:focus-visible{
  outline-offset: 1px;
  }

  #popButton2{
    margin-top: 10px;
    margin-left: 10px;
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 12px;
    font-weight: bold;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap
    }

#popButton2:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
}

#popButton2:focus-visible{
  outline-offset: 1px;
}

.dark-mode {
  background-color: black;
  color: white;
}
    
.light-mode {
  background-color: rgb(255, 255, 255);
  color: black;
}

.info{
  padding: 20px;
  width: 100%;
  color: #ffffff;
}

.name {
  font-size: 20px;
}

.progress {
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  background: white;
  border: 1px solid #000;
  border-radius: 5px;
  height: 10px;
  overflow: hidden;
}
    
.progress .progress__bar {
  height: 10px;
  width: 0;
  border-radius: 4px;
  background-image: linear-gradient(45deg, red, green);
  transition: 0.3s;
}
    
#dailyCal {
  color: rgb(0, 0, 0);
  margin-left: 10px;
  font-size: 16px;
}

#input {
  box-sizing: border-box;
  width: 80px;
  border-radius: 5px;
  height: 25px;
  margin-right: 5px;
}

#submit {
  box-sizing: border-box;
  width: 80px;
  border-radius: 5px;
  height: 25px;
  margin-right: 5px;
}

button[class="mode"]{
  margin-top: 10px;
  margin-left: 10px;
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: bold;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap
}
button[class="mode"]:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
}

button[class="mode"]:focus-visible{
  outline-offset: 1px;
}

#ProfileBox{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #B6CEC7;
  width: 50%;
  height: 50%;
  border-radius: 3%;
  padding-top: 50px;
}

#SettingBox{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #B6CEC7;
  width: 50%;
  height: 30%;
  border-radius: 3%;
  padding-top: 50px;
}

input[type=number], input[type=name], textarea {  
width: 96.5%;  
padding: 15px;  
margin-right: 300px;
display: inline-block;  
border: none;  
background: #f1f1f1;  
}  
input[type=number]:focus, input[type=name]:focus {  
background-color: rgb(112, 163, 137);  
outline: none;  
}  

