header:first-of-type{
    color: white;
    font-size: 30px;
    font-style:italic;
    text-shadow: -2px 2px 0 #04AA6D,
                  2px 2px 0  #04AA6D,
                  2px -2px 0  #04AA6D,
                 -2px -2px 0  #04AA6D;
}


button[type="button"]{
  margin-top: 10px;
  margin-left: 10px;
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: bold;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap
}
button[type="button"]:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
}
button[type="button"]:focus-visible{
  outline-offset: 1px;
}
button[data-bind="click: deleteMarkedItems"]{
  margin-top: 10px;
  margin-left: 10px;
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: bold;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap
}
button[data-bind="click: deleteMarkedItems"]:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
}
button[data-bind="click: deleteMarkedItems"]:focus-visible{
  outline-offset: 1px;
}
button[onclick="move()"]{
  margin-left:2px;
  margin-top:5px;
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: bold;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap
}
button[onclick="move()"]:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
}
button[onclick="move()"]:focus-visible{
  outline-offset: 1px;
}
h2[id="pick"]{
  margin-left: 10px;
  color:#0e0fed;
}
h3[id="bf"]{
  margin-left: 10px;
  color:#0e0fed;
}
.tablink {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
  }

.tablink:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
}
.tablink:focus-visible{
    outline-offset: 1px;
}
  /* Style the tab content */
  .tabcontent {
    border-style:groove;
    border-width: 4px;
    border-color:black;
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: left;
  }

  .column {
    float: left;
    width: 49.5%;
    min-height: 100%;
    color:#000;
    border-style:groove;
  }
  div[id='test']{
  display: flex;
  align-items: stretch;
  }


  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #Settings {
    background-color: #0A1612;
  }

  #Profile {
    background-color: #1A2930;
  }

  #Home {
    background-color: #C5C1C0;
  }

  #myProgress {
    width: 80%;
    background-color: #ddd;
    /* It should be rotated by 90 deg, but it need to be fixed for relative percentage to layout */
    /* transform: rotate(90deg); */
  }

  #myBar {
    width: 1%;
    height: 30px;
    background-color: #04AA6D;
  }