header {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    color: white;
    border-radius: 10%;
  }
  
  article {
    background-color: aqua;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    padding: 40px;
    text-align: center;
    border-radius: 10%;
    border-style:groove;
  }

  form{
    padding: 10px;
  }
  #sex{
    margin-bottom:10px;
    width: 160px;
    height: 20px;
  }
  #age{
    margin-bottom:10px;
    width: 160px;
    height: 20px;
  }
  #name{
    margin-bottom:10px;
    width: 160px;
    height: 20px;
  }

  

  input[type=submit] {
    width: 120px;
    height: 60px;
    background-color: green;
    border-radius: 50%;
    color: white;
    padding: 14px 20px;
    font-size:16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
 }

  input[type=submit]:hover {
      background-color: #4CAF50;
  }