header {
  text-align: center;
}

#logo {
  height: 200px;
  width: 200px;
  animation: wiggle 2s linear infinite;
}

article {
  margin-top: -40px;
  background-color: #d5e2ed;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 400px;
  padding: 40px;
  text-align: center;
  border-radius: 10%;
  border-style: groove;
}

form {
  padding: 10px;
}

#weight1,
#weight2 {
  margin-bottom: 10px;
  width: 160px;
  height: 20px;
}

#save {
  animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

input[type="submit"] {
  text-align: center;
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
  padding-left: 17%;
  margin-left: auto;
  margin-right: auto;
	border-radius: 26px;
	border: 1px solid #d4d3e8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 50%;
	color: #4c489d;
	box-shadow: 0 2px 2px #5c5696;
	cursor: pointer;
	transition: 0.2s;
}

input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"]:hover {
  border-color: #6a679e;
  outline: none;
}
