/*stylelint-disable selector-class-pattern, selector-id-pattern */

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: rgb(175 182 127);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header:first-of-type {
  margin-top: 100px;
  font-size: 30px;
}

.content {
  display: flex;
  justify-content: center;
  margin-left: 300px;
}

.text_shadows {
  font-family: bungee, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
  margin-right: 70px;
  text-align: center;
  margin-top: 20px;
  color: rgb(96 71 0);
  text-shadow:
    0 3px 0 #b2a98f,
    0 14px 10px rgba(0 0 0 15%),
    0 24px 2px rgba(0 0 0 10%),
    0 34px 30px rgba(0 0 0 10%);
  letter-spacing: 0.4rem;
}

#logo {
  margin-top: -50px;
  margin-right: 50px;
  height: 200px;
  width: 200px;
  float: right;
  animation: wiggle 2s linear infinite;
}

button[type="button"],
button[onclick="move()"],
button[class="mode"],
#popButton1,
#popButton2,
#popButton3,
#popButton4,
#popButton5,
#popButton6,
#popButton7,
#deletefood,
.tablink {
  margin-top: 10px;
  margin-left: 10px;
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: bold;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 0.14s ease-out;
  white-space: nowrap;
}

button[type="button"]:hover,
button[onclick="move()"]:hover,
#deletefood:hover,
.tablink:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px -4px);
}

button[type="button"]:focus-visible,
#deletefood:focus-visible,
button[onclick="move()"]:focus-visible,
.tablink:focus-visible {
  outline-offset: 1px;
}

h2[id="pick"] {
  margin-left: 10px;
  font-weight: bold;
  color: black;
}

.tabcontent {
  border: 2px solid;
  padding: 10px;
  box-shadow: 6px 4px 8px 4px;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: left;
}

#bf {
  padding: 20px;
  color: #1f1f4c;
}

#lnh {
  padding: 20px;
  color: #1f1f4c;
}

#din {
  padding: 20px;
  color: #1b1b5c;
}

.column {
  border-radius: 25px;
  float: left;
  width: 45%;
  min-height: 100%;
  color: rgb(0 0 0);
}

#column1 {
  border-radius: 25px;
  border-color: #000;
}

div[id="box"] {
  display: flex;
  align-items: stretch;
}

.row::after {
  content: "";
  display: table;
  display: flex;
  clear: both;
}

.row {
  padding-left: 150px;
  margin-right: 22px;
  height: 100%;
}

#Settings {
  background-color: #80b0ae;
}

#Profile {
  background-color: #708f7e;
}

#Home {
  background-color: #597a59;
}

.myProgress {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow:
    6px 6px 10px -1px rgba(0 0 0 15%),
    -6px -6px 10px -1px rgba(70 163 58 70%);
  margin-left: 150px;
}

#number {
  font-weight: 600px;
  color: #555;
  padding-top: 68px;
  padding-left: 63.5px;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 0;
  }
}

#dailyGoal {
  font-size: 20px;
  margin-top: 40px;
  margin-left: 10px;
}

.pop_Up .pop_Up_Text {
  visibility: hidden;
  background-color: rgb(190 220 138);
  color: #000;
  text-align: center;
  border-radius: 20%;
  padding: 10%;
  position: fixed;
  top: 25%;
  left: 35%;
  border-style: groove;
  border-width: 2px;
  border-color: black;
  text-decoration-style: dashed;
}

.pop_Up .show {
  visibility: visible;
  animation: fade_in 1s;
  z-index: 99;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#foodTyped1,
#foodTyped2,
#mealTyped1,
#mealTyped2,
#calories1,
#calories2 {
  margin-bottom: 10%;
  width: 170px;
  height: 20px;
}

#popButton1:hover,
#popButton2:hover,
#popButton3:hover,
#popButton4:hover,
#popButton5:hover,
#popButton6:hover,
#popButton7:hover,
button[class="mode"]:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px -4px);
}

#popButton1:focus-visible,
#popButton2:focus-visible,
#popButton3:focus-visible,
#popButton4:focus-visible,
#popButton5:focus-visible,
#popButton6:focus-visible,
#popButton7:focus-visible,
button[class="mode"]:focus-visible {
  outline-offset: 1px;
}

.dark-mode {
  background-color: rgb(122 131 75);
  color: white;
}

.light-mode {
  background-color: rgb(255 255 255);
  color: black;
}

.info {
  padding: 20px;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

.changeSet {
  padding: 20px;
  width: 100%;
  font-weight: bold;
  color: #deebd4;
}

.name {
  font-size: 20px;
}

.progress {
  padding: 10px 10px 20px;
  margin-right: 20px;
  position: relative;
  background: white;
  border: 1px solid #000;
  border-radius: 5px;
  height: 10px;
  overflow: hidden;
}

.progress__bar {
  height: 20px;
  border-radius: 4px;
  background-color: white;
  transition: 0.3s;
}

#dailyCal {
  color: rgb(0 0 0);
  margin-left: 10px;
  font-size: 16px;
}

#input,
#submit {
  box-sizing: border-box;
  width: 80px;
  border-radius: 5px;
  height: 25px;
  margin-right: 5px;
}

#ProfileBox,
#SettingBox {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #b6cec7;
  width: 50%;
  height: 50%;
  border-radius: 3%;
  padding-top: 50px;
}

#name,
#age,
#weight1,
#weight2 {
  width: 96%;
  padding: 15px;
  border: none;
  background: #f1f1f1;
  font-size: 18px;
}

input[type="number"]:focus,
input[type="name"]:focus {
  background-color: rgb(211 240 224);
  outline: invert;
}

#foodTyped1 {
  position: relative;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 18px;
}

#calories1 {
  position: relative;
  padding: 9px;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 18px;
}

#mealTyped1 {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 20px;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}
